<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="static/css/bootstrap-4.4.1.css" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
<style>
html,body{
background-size: cover;
background-repeat: no-repeat;
height: 100%;
font-family: 'Numans', sans-serif;
background:#959FA5
}
	table, th, td {
  border: 2px #5E5F6D solid;
}
	#butoon1{
		
	}
</style>
	    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <div class="container">
        <a class="navbar-brand" href="#">ATN COMPANY</a>
		  &nbsp;
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">

          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link" href="/home">Home <span class="sr-only">(current)</span></a>
            </li>  
			  &nbsp;
			<li class="nav-item active">
              <a class="nav-link" href="/products">Products <span class="sr-only">(current)</span></a>
            </li>
			  &nbsp;
			<li class="nav-item active">
              <a class="nav-link" href="/orders">Orders <span class="sr-only">(current)</span></a>
            </li>
			  &nbsp;
			<li class="nav-item active">
              <a class="nav-link" href="/profile">Profile <span class="sr-only">(current)</span></a>
            </li>
			  &nbsp;
          </ul>
        </div>
		  <form class="form" action="/logout" method="get">
            <a class="btn btn-primary" href="/logout" role="button">Logout</a>
          </form>

      </div>
    </nav>
</head>
<body>

<div class="container">
	&nbsp;
  <h2>Orders</h2>
	&nbsp;
<div class="float-right"><form class="form">
<a href="#" class="btn btn-secondary btn-lg" tabindex="-1" role="button" aria-disabled="true">Orders in Day</a>
<form class="form">
<a href="https://www.google.com/" class="btn btn-primary btn-lg" tabindex="-1" role="button" aria-disabled="true">Make Report</a>
</form>
</form>&nbsp;</div><br>
	

  <table class="table table-dark table-striped">
    <thead>
<tr>
    <th>Order ID</th>
    <th>Product</th>
	<th>Quantity</th>
    <th>Date</th>
	<th>Shop</th>
	<th>Price</th>
  </tr>
    </thead>
    <tbody>
			    {% for order in orderList %}
<tr>
    <td><P>{{ order["orderId"] }} </P></td>
    <td><P>{{ order["product"] }} </P></td>
	<td><P>{{ order["quantity"] }} </P></td>
	<td><P>{{ order["date"] }} </P></td>
	<td><P>{{ order["shop"] }} </P></td>
	<td><P>{{ order["price"] }} </P></td>
</tr>
{% endfor %}
    </tbody>
  </table>
		<form action="/addOrder" method="GET">
            <div class="form-group">
                <label for="orderId">Order Id</label>
                <input type="text" class="form-control" id="orderId" name="orderId" >
            </div>
            <div class="form-group">
                <label for="product">Product</label>
                <input type="text" class="form-control" id="product"  name="product">
          </div>
			<div class="form-group">
                <label for="quantity">Quantity</label>
                <input type="text" class="form-control" id="quantity"  name="quantity">
          </div>
            <div class="form-group">
                <label for="date">Date order</label>
                <input type="text" class="form-control" id="date" name="date" >
            </div>
            <div class="form-group">
                <label for="shop">Shop</label>
                <input type="text" class="form-control" id="shop"  name="shop">
          </div>
			<div class="form-group">
                <label for="price">Price</label>
                <input type="text" class="form-control" id="price"  name="price">
          </div>
            <button type="submit" class="btn btn-primary">Add New Order</button>
        </form>
	&nbsp;
				  

</div>

</body>
</html>
